@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container ul {
  padding-left: 2em;
}

.main-container ul ul {
  padding-left: 2em;
  margin-top: 1em;
}

.main-container li {
  list-style: disc;
}

.main-container li ul li {
  list-style: circle;
}

.main-container u {
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
  font-weight: 600;
}

.separator {
  display: none;
}